$white: #ffffff;
$black: #000000;
$darkgray: #1d1d1b;
$purple: #010628;
$violet:#d500d5;
$darkViolet:#d500d5;
$blue: #3FA9F5;

@font-face {
  font-family: 'BlinkerBold';
  src: url("../fonts/BlinkerBold.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerExtraLight';
  src: url("../fonts/BlinkerExtraLight.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerSemiBold';
  src: url("../fonts/BlinkerSemiBold.ttf"); /* IE9 Compat Modes */
}

$font-size: 16;
$max-width: 1600px;
//MEDIAS
$max: 1600px;
$lap: 1400px;
$lg: 1200px;
$md: 850px;
$sm: 580px;
$xs: 400px;

//FUNCTIONS
@function pxtorem($px) {
  @return #{$px/$font-size}rem;
}

@function col($n, $t: 18) {
  @return #{(($n * 100) / $t)}#{"%"};
}

@mixin h1($color: initial, $scale: 1) {
  font-family: "BlinkerBold";
  font-size: pxtorem(60 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  @media screen and (max-width: $lap) {
    font-size: pxtorem(30 * $scale);
  }
  @media screen and (max-width: $md) {
    font-size: pxtorem(28 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h1 {
  @include h1();
  text-transform: uppercase;
  color: $white;
}

@mixin h2($color: initial, $scale: 1) {
  font-family: BlinkerSemiBold;
  font-size: pxtorem(36 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  @media screen and (max-width: $lap) {
    font-size: pxtorem(30 * $scale);
  }
  @media screen and (max-width: $md) {
    font-size: pxtorem(28 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}
span{
  color: $violet !important;
}
h2 {
  @include h2();
  color: $white;
}

@mixin h3($color: initial, $scale: 1) {
  font-family: museo700;
  font-size: pxtorem(40 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;

  @media screen and (max-width: $md) {
    font-size: pxtorem(28 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h3 {
  @include h3();
}

@mixin p($color: initial, $scale: 1) {
  font-family: "BlinkerExtraLight";
  font-size: pxtorem(20 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  @media screen and (max-width: $md) {
    font-size: pxtorem(16 * $scale);
  }
}

p {
  @include p();
  color: $white;
}

p.especial{
  font-family: 'BlinkerExtraLight';
}

@mixin button($bg) {
  background-color: $darkViolet;
  font-family: "BlinkerSemiBold";
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: $white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
  &:hover {
    transition: all 0.3s ease;
  }
}

.button {
  @include button($darkViolet);
}

@mixin button2($bg) {
  background: $bg;
  font-family: "BlinkerSemiBold";
  font-size: 20px;
  letter-spacing: 1px;
  color: $white;
  width: 300px;
  padding: 20px;
  border:1px solid  $darkViolet;
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
  &:hover {
    transition: all 0.3s ease;
    background: darken($bg, 8%);
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.button2{
  @include button2($darkViolet);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.text {
  overflow: hidden;
}

.underline {
  position: relative;
  z-index: 1;
  display: inline-block;

  .underlineChild {
    display: block;
    width: 0;
    height: 15px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;

    z-index: -1;
    @media screen and (max-width: $md) {
      height: 8px;
      bottom: 2px;
    }
  }
}

body {
  margin: 0;
  position: relative;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: col(18);
  padding:0 col(1);
  &.scrolldown{
    transform: translateY(0);
  }
  &.contactnav {
    background-color: $white;
    .inner {
      .left {
        .logo {
          width: 150px;
          img{
            width: 150px;
          }
        }
      }
      .right {
        p {
          transition: all 0.5s ease;
          color: $darkgray;
          &:after {
            background: $darkgray;
          }
          &:hover {
            &:before {
              background: $darkgray;
            }
            &:after {
              background: transparent;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: $md) {
    display: none;
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    margin: auto;
    height: 100px;
    .right {
      display: flex;
      .logo {
        width: 50px;
        margin-right: 100px;
      }
      p {
        transition: all 0.5s ease;
        margin: 0 25px;
        color: $white;
        position: relative;
        @media screen and (max-width: $lg) {
          margin: 0 10px;
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 0;
          transition: width 0s ease, background 0.5s ease;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          height: 3px;
          width: 0;
          background: $white;
          transition: width 0.5s ease;
        }
        &:hover {
          &:before {
            width: 100%;
            background: $white;
            transition: width 0.5s ease;
          }
          &:after {
            width: 100%;
            background: transparent;
            transition: all 0s ease;
          }
        }
      }
    }
  }
  &.activo {
    transition: all 0.5s ease;
    background-color: transparent;
    .inner {
      .left {
        .logo {
          svg {
            .st0 {
              transition: all 0.5s ease;
              fill: $purple;
            }
          }
        }
      }
      .right {
        p {
          transition: all 0.5s ease;
          color: $white;
          &:after {
            background: $white;
          }
          &:hover {
            &:before {
              background: $white;
            }
            &:after {
              background: transparent;
            }
          }
        }
      }
    }
  }
}

.responsivemenu {
  display: none;
  @media screen and (max-width: $md) {
    display: block;
  }
}

.burguer {
  display: none;
  @media screen and (max-width: $md) {
    display: flex;
  }
  box-shadow: -1px 1px 20px -9px rgba(0, 0, 0, 0.69);
  position: fixed;
  right: 10%;
  top: 5%;
  z-index: 99999;
  width: 60px;
  height: 60px;
  background-color: $white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  .cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    > div {
      transition: all 0.5s ease;
      width: 30px;
      height: 2px;
      background-color: $purple;
      transform-origin: 1px center;
      &:nth-child(1) {
        transform: rotate(0deg);
      }
      &:nth-child(2) {
        opacity: 1;
        transform: translateX(0px);
      }

      &:nth-child(3) {
        transform: rotate(0deg);
      }
    }
  }
  &.active {

    box-shadow: none;
    .cont {
      > div {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
          transform: translateX(20px);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.menu {
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: 99998;
  width: 50vw;
  height: 100vh;
  z-index: 99998;
  transform-origin: center center;
  transform: scale(0, 1);
  transition: all 0.5s ease;
  background-color: $purple;
  &.active {
    transition: all 0.5s ease;
    transform: scale(1, 1);
    > div {
      p {
        transition: opacity 0.5s ease;
        transition-delay: 0.5s;
        opacity: 1;
      }
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    text-align: center;
    p {
      margin-bottom: 30px;
      opacity: 0;
    }
  }
}

.logoanim{
  width:300px;
  position: absolute;
  right: col(3);
  top: 0;
  @media screen and (max-width: $md) {
    position: relative;
    right: initial;
    margin: auto;
  }
}

.sectiontest {
  width: col(18);
  padding: col(1);
  height: 100vh;
  background-color:$purple;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  position: relative;
  gap: 50px;
  @media screen and (max-width: $lap) {
   //height: auto;
  }
  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;
    height: auto;
    gap:0;
  }
  .texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    >div{
      width: 10px;
      height: 3px;
      background-color: $violet;
    }
  }

  .topleft{
    //background-color: #73ab3c;
    align-self: center;
    @media screen and (max-width: $md) {
      text-align: center;
    }
    @media screen and (max-width: $lap) {
      align-self: center;
    }
    @media screen and (max-width: $md) {
      grid-row: 3;
      margin: 25px 0;
    }
    h2{
      @include h2($white,1.8);
      text-transform:initial;
      max-width: 550px;
      span{
        color: $violet;
      }
    }
    .button2{
      margin: 15px 0 15px 0;
      @media screen and (max-width: $md) {
        margin:15px auto 15px auto;
      }
    }
  }
  .topright{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $md) {
      grid-row: 2;
      margin-top: 0;
      margin-bottom: 25px;
    }
    .avatares{
      //width: 450px;
      @media screen and (max-width: $lap) {
        width: 450px;
      }
      @media screen and (max-width: $md) {
        width: 400px;
      }
    }
  }
  .bottomleft{
    background-color:$darkViolet;
    width: 400px;
    position: relative;
    @media screen and (max-width: $md) {
      width: 100%;
    }
    &:before{
      content: '';
      position: absolute;
      bottom: 0; right: 0;
      border-top: 50px solid $purple;
      border-left: 50px solid $darkViolet;
      width: 0;
      transform: rotate(90deg);
    }
    .cont{
      background-color: $purple;
      width: 99%;
      margin: 6px auto 0 auto;
      padding: 25px;
      text-align: center;
      p{
        font-family: BlinkerSemiBold;
      }
      .austin{
        display: flex;
        justify-content: center;
        .pin{
          width: 20px;
          margin-right: 15px;
        }
      }
    }
    .companies{
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 15px auto 0 auto;
      img{
        width: 100px;
        @media screen and (max-width: $sm) {
          display: block;
          margin: auto;
        }
      }
      .nvidia{
        width: 80px;
      }
      .apple{
        width: 20px;
      }
    }
  }
}

#lottie{
  background-color:transparent;
  width:100%;
  height:100%;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}

.create{
  position: relative;
  background-color: $purple;
  z-index: 1;
  padding:  col(1) col(1) 150px col(1);
  .title__cont{
    display: flex;
    align-items: center;
    width: col(6);
    margin: auto;
    @media screen and (max-width: $md) {
      width: col(18);
      justify-content: space-around;
    }
    span{
      width: 20px;
      height: 8px;
      margin: 0 15px;
      background-color: $darkViolet;
    }
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    //background-color: pink;
    margin: auto;

    position: relative;
    @media screen and (max-width: $max) {
      width: 1200px;
    }
    @media screen and (max-width: $lap) {
      width: 1100px;
    }
    @media screen and (max-width: $lg) {
      flex-direction: column;
      width: 100%;
    }
    .svgcont{
      width: 400px;
      position: absolute;
      bottom: 220px;
      left: 470px;
      @media screen and (max-width: $max) {
        bottom: 220px;
        left: 460px;
        width: 240px;
      }
      @media screen and (max-width: $lap) {
        bottom: 220px;
        left: 460px;
        width: 140px;
      }
      @media screen and (max-width: $lg) {
        left: 0px;
      }
      polyline, line,path{
        stroke-dasharray: 3;
        animation: dash 5s linear infinite;
      }
    }
  }
  .left{
    width: col(9);
    @media screen and (max-width: $lg) {
      width: col(18);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .inner__cont{
      border: none;
      position: relative;
      right: 0;
      top: 0;
      display: flex;
      .barra{
        width: 15px;
        background-color: $darkViolet;
        margin-right: 5px;
      }
      .purple__bordercont{
        border: solid 1px $darkViolet;
        padding: 15px;
        position: relative;
        p{
          @include p ($white,1.3);
          max-width: 400px;
          font-family: BlinkerSemiBold;
          line-height: 1.5;
          text-transform: initial;
        }
        img{
          position: absolute;
          right: 5px;
          bottom: 5px;
          width: 30px;
        }
      }

    }
    .button{
      margin: 50px 0 0 0;
      padding: 5px;
    }
  }
  .right{
    position: relative;
    width: 500px;
    height: 620px;
    background-image: url(../img/create/purple_border.svg);
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (max-width: $lg) {
      height: 650px;

    }
    @media screen and (max-width: $sm) {
      height: 650px;
      width: 100%;
    }
    .cont{
      margin-top: 20px;
      margin-left: 10px;
      padding: 25px;
      @media screen and (max-width: $lg) {
        position: absolute;
        left: 40px;
        top: -10px;
        padding: 25px;
      }
      >div{
        margin-bottom: 15px;
        @media screen and (max-width: $lg) {
          margin-bottom: 10px;
        }
        p{
          @include p ($white,.9)
        }
        p.title{
          color: $darkViolet;
          font-weight: bold;
        }
      }
    }

    img{
      width: 500px;
      display: none;
    }
  }
  .list{
    position: absolute;
    left: 0;
    bottom: 0;
    width: col(18);
    background-color: $violet;
    padding:10px col(1);
    @media screen and (max-width: $lg) {
      //position: relative;
    }
    h2{
      @include h2($white,.8);
      text-align: center;
      letter-spacing: 2px;
      text-transform: initial;
    }
  }
}

.section2 {
  width: col(18);
  padding: 50px;
  //padding: col(1);
  height: 100vh;
  background-color:$purple;
  @media screen and (max-width: $lap) {
    height: auto;
    //padding: col(1) 0;
  }
  @media screen and (max-width: $md) {
    padding: col(1);
  }
  h1{
    text-align: center;
  }
  .cont{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    @media screen and (max-width: $lg) {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }
  .left{
    width: 600px;
    height: 625px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: $md) {
      width: 450px;
      height: 430px;
    }
    @media screen and (max-width: $sm) {
      overflow: hidden;
      width: 300px;
      height: 330px;
    }
    .svgcont{
      position: absolute;
      &.dashedline{
        svg{
          stroke-dasharray: 3;
          animation: dash 5s linear infinite;
        }
      }
      &.one{
        width: 220px;
        left: -20px;
        top: 180px;
        @media screen and (max-width: $md) {
          width: 150px;
          left: -60px;
          top: 150px;
        }
      }
      &.two{
        width: 220px;
        right: -100px;
        top: 180px;
        @media screen and (max-width: $md) {
          width: 150px;
          right: -60px;
          top: 180px;
        }

      }
      &.three{
        width: 500px;
        bottom: 30px;
        left: 120px;
        @media screen and (max-width: $md) {
          width: 340px;
          bottom: -10px;
          left: 70px;
        }
      }
    }
    .nftcont{
      transition: all .5s ease;
      position: absolute;
      &.one{
        left: 80px;
        top: 0;
        @media screen and (max-width: $md) {
          left: 0px;
        }
      }
      &.two{
        right: 0;
        top: 70px;
      }
      img{
        width: 280px;
        display: block;
        margin: auto;
        @media screen and (max-width: $md) {
          width: 240px;
        }
      }
      p{
        text-align: center;
        transition: all .5s ease;
        @include p ($white,1.3)
      }
    }
  }
  .right{
    position: relative;
    .inner__cont{
      position: absolute;
      left: 20px;
      top: 30px;
      padding: 25px;
      @media screen and (max-width: $md) {
        padding: 5px;
        left: 20px;
        top: 30px;
      }
      p{
        line-height: 1.5;
        &:first-of-type{
          margin-bottom: 15px;
        }
      }
    }
    img{
      width: 480px;
    }
  }
}

.section1,.section2, .section3, .section4, .section6, .section7, .section9,.section10{
  position:relative;
  z-index: 1;
}

.webgl{
  position: fixed;
  top: 0;
  left: 0;
}

.coloredbg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  background-image: linear-gradient(180deg,#03011a,rgba(3,1,26,.2) 50%,#03011a),radial-gradient(circle farthest-corner at 100% 0,#33ffc2,#334aff 70%,#ff7333);
}

.choose__nftcases{
  width: col(18);
  background-color: $purple;
  position: relative;
  z-index: 1;
  padding: col(1);
  h1{
    text-align: center;
    margin-bottom: 100px;
  }
  .circle{
    position: absolute;
    left: -30%;
    top: 0;
    width: 1000px;
  }
  h2{
    max-width: 650px;
    text-transform: capitalize;
  }
  #lottie2{
    width: 400px;
    position: absolute;
    left: 250px;
    bottom: 300px;
    @media screen and (max-width: $lg) {
      bottom: initial;
      left: 10%;
      top: 0;
    }
    @media screen and (max-width: $md) {
      width: 300px;
      position: relative;
      bottom: initial;
      left: 0;
      top: 0;
      margin: auto;
    }
  }
  ul{
    width: col(5);
    list-style: none;
    margin: auto;
    position: relative;
    padding-top: 150px;
    @media screen and (max-width: $lg) {
      width: col(18);
      margin-top: 250px;
    }
    @media screen and (max-width: $md) {
      margin-top: 0px;
    }
    .first{
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      .barra{
        width: 15px;
        background-color: $darkViolet;
        margin-right: 5px;
      }
      .cont{
        border: solid 1px $darkViolet;
        width: 700px;
        padding: 15px;
        @media screen and (max-width: $lg) {
          width: 100%;
        }
      }
      img{
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 30px;
      }
    }
    .second,.third{
      border: none;
      position: relative;
      right: 0;
      top: 0;
      display: flex;
      .barra{
        width: 15px;
        background-color: $darkViolet;
        margin-left: 5px;
      }
      .cont{
        border: solid 1px $darkViolet;
        width: 700px;
        padding: 20px;
        @media screen and (max-width: $lg) {
          width: 100%;
        }
        h2{
          @include h2($white,1.2);
          text-transform: capitalize;
        }
      }
      img{
        position: absolute;
        left: 5px;
        top: 5px;
        width: 30px;
        transform: rotate(170deg);
      }
    }
    .second{
      width: 500px;
      @media screen and (max-width: $lg) {
        width: 100%;
      }
    }
    .third{
      margin-left: 50px;
      width: 700px;
      @media screen and (max-width: $lg) {
        width: 100%;
        margin-left: 0px;
      }
    }
    li{
      margin: 10px 0;
      border: solid 1px $darkViolet;
      p{
        text-align: center;
      }
    }
  }
}

.tell__story{
  position: relative;
  width: col(18);
  height: 100vh;
  padding: col(1);
  @media screen and (max-width: $lg) {
    overflow: hidden;
    height: auto;
  }
  .titlecont{
    margin: auto;
    //margin:100px auto 0 auto;
    position: relative;
    z-index: 1;
    @media screen and (max-width: $lg) {
      margin:0px auto 50px auto;
    }
    h1{
      text-align: center;
      margin-right: 5px;
    }
  }
  .container{
    .div__cont{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 1400px;
      height: 600px;
      //background-color: rgb(255, 157, 157);
      position: relative;
      z-index: 2;
      margin: auto;
      @media screen and (max-width: $max) {
        width: 1200px;
      }
      @media screen and (max-width: $lap) {
        width: 1100px;
      }
      @media screen and (max-width: $lg) {
        width: 500px;
        height: 900px;
        flex-direction: column;
      }
      @media screen and (max-width: $sm) {
        width:100%
      }

      .svgcont{
        position: absolute;
        polyline, line,path{
          stroke-dasharray: 3;
          animation: dash 5s linear infinite;
        }
        &.one{
          top: 20px;
          left: 640px;
          width: 400px;
          @media screen and (max-width: $max) {
            top: 25px;
            left: 585px;
            width: 360px;
          }
          @media screen and (max-width: $lg) {
            top: 47%;
            left: 50%;
            width: 260px;
            transform: rotate(90deg);
          }
        }
        &.two{
          top: 220px;
          left: 565px;
          width: 410px;
          @media screen and (max-width: $max) {
            top: 220px;
            left: 525px;
            width: 300px;
          }
          @media screen and (max-width: $lap) {
            top: 280px;
            left: 520px;
            width: 210px;
          }
          @media screen and (max-width: $lg) {
            top: 340px;
            left: 150px;
            width: 190px;
            transform: rotate(90deg);
          }

        }
        &.three{
          bottom: 30px;
          left: 600px;
          width: 390px;
          @media screen and (max-width: $max) {
            bottom: 30px;
            left: 535px;
            width: 390px;
          }
          @media screen and (max-width: $lap) {
            bottom: 30px;
            left: 535px;
            width: 390px;

          }
          @media screen and (max-width: $lg) {
            left: -410px;
            top: -10px;
            width: 280px;
            transform: rotate(90deg);
          }

        }
      }
      .left{
        position: relative;
        .text__cont{
          position: absolute;
          left: 30px;
          top: 0;
          padding: 25px;
        }
        img{
          width: 500px;
          @media screen and (max-width: $md) {
            width: 440px;
          }
        }
      }
      .right{
        position: relative;
        .element{
          position: absolute;
          left: 30px;
          top: 50px;
          @include p ($white,1);
          span{
            color: $white !important;
          }
        }
        .window{
          width: 350px;
          @media screen and (max-width: $lg) {
            width: 300px;
          }
        }
      }

    }
    .fondo{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }

  .button{
    bottom: -20px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    @media screen and (max-width: $lg) {
      bottom: 10px;
    }
  }
}

.section6{
  background-color: $purple;
  display: flex;
  align-items: center;
  padding: col(1);
  justify-content: space-between;
  @media screen and (max-width: $lg) {
    flex-direction: column-reverse;
   }
  .secondtitle{
    @include h1($white,.8);
    @media screen and (max-width: $lap) {
      @include h1($white,1.2);
    }
  }
  .buttcont{
    display: flex;
    align-items: center;
    img{
      width: 50px;
      @media screen and (max-width: $lg) {
        flex-direction: column;
       }
    }
  }
  .choose-cont{
    padding: 0;
    li{
      position: relative;
      h1{
        text-align: center;
        //position: absolute;
        left: 0;
        right: 0;
        top: 60%;
        z-index: 1;
        margin: auto;
      }
    }
    .slide-img{
      width: 400px;
      margin: auto;
      @media screen and (max-width: $md) {
        width: 300px;
       }
    }
    width: 50%;
    @media screen and (max-width: $lg) {
      width: 100%;
     }
  }
  #slideshow{
    @media screen and (max-width: $lg) {
      display: none;
    }
  }
  .responsive-slider{
    width: 100%;
    height: 100%;
    display: none;
    @media screen and (max-width: $lg) {
      display: block;
    }
    .slider-cont{
      padding: 0;
      li{
        img{
          width: 250px;
          display: block;
          margin: auto;
        }
      }
    }
  }
  .slick-dots{
    display: flex;
    margin: 50px auto 0 auto;
    width: 100px;
    padding: 0;
    justify-content: space-between;
    li{
      cursor: pointer;
    }
    button{
      cursor: pointer;
      font-size: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: gray;
    }
  }

  .button{
    margin: 0;
  }
  .right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (max-width: $lg) {
      width: 100%;
    }
    p{
      font-family: 'BlinkerExtraLight';
      margin: 15px 0;
    }
  }
}

.choose__package{
  background-color: $purple;
  width: col(18);
  padding: 0 col(1) col(1) col(1);
  position: relative;
  h1,h2{
    text-align: center;
  }
  h2{
    margin: 100px 0 50px 0;
  }
  .button{

  }
  ul{
    padding: 0;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: $lg) {
      flex-direction: column;
      align-items: center;
    }
    li{
      width: 300px;
      @media screen and (max-width: $lg) {
        margin-bottom: 50px;
      }
      >img{
        display: block;
        margin: auto;
        width: 120px;
      }
      .top{
        margin-top: 15px;
        background: rgb(0,212,255);
        background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(122,138,252,1) 41%, rgba(213,0,213,1) 100%);
        padding: 15px;
        h1{
          @include h1($white,.8);
        }
        p.texto{
          font-family: 'BlinkerSemiBold';
          line-height: 1.5;
        }
        .bordered-text{
          border: solid 1px $darkViolet;
          margin: 8px 0;
          p{
            @include p($white,.8);
          }
          &:nth-last-of-type(1){
            //margin-bottom: 100px;
          }
        }
      }
      .bottom{
        margin-top: 5px;
        border: solid 1px $darkViolet;
      }
      h1,p{
        text-align: center;
      }
    }
  }
}

.section88{
  overflow: hidden;
  width: col(18);
  height: 100vh;
  .container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .titlecont{

      margin:100px auto 0 auto;
      @media screen and (max-width: $md) {
        margin:100px auto 100px auto;
      }
      h2{
        text-align: center;
        margin-right: 5px;
      }
      span{
        font-size: 20px;
      }
    }
    .lower__text{
      position: absolute;
      left: 10%;
      bottom: 10%;
    }
    .fondo{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    .button{
      bottom: 15px;
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.faqs{
  width: col(18);
  padding: col(1) 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .circle{
    position: absolute;
    right: -20%;
    top: 0;
    width: 700px;
    pointer-events: none;
  }
  h1{
    text-align: center;
  }
  background-color: $purple;

  .logo{
      position: absolute;
      width: 200px;
      left: 10%;
      top: 40%;
      z-index: 1;
      @media screen and (max-width: $lg) {
        left: 40%;
        bottom: 0;
        top: initial;
        width: 170px;
      }
      @media screen and (max-width: $md) {
        left: 30%;
      }
  }


  .faq{
    width: col(6);
    padding: 0;
    margin-top: 100px;
    @media screen and (max-width: $lap) {
      width: col(10);
    }
    @media screen and (max-width: $lg) {
      margin-top: 200px;
      margin-bottom: 130px;
    }
    @media screen and (max-width: $md) {
      width: col(15);
      margin-top: 0px;
    }
    li{
      border: 1px solid $violet;
      margin: 10px 0;
      padding: 15px;
      border-radius: 10px;
      //height: 70px;
      max-height: 70px;
      overflow: hidden;
      cursor: pointer;
      transition: max-height 0.5s ease;
      position: relative;
      @media screen and (max-width: $lap) {
        max-height: 80px;
      }
      &::after{
        content: "+";
        display: block;
        position: absolute;
        right: 20px;
        top: 23px;
        font-size: 20px;
        color: white;
        transition: all 0.5s ease;
      }
      &.active{
        //height: auto;
        max-height: 300px;
        transition: max-height 0.5s ease;
        &::after{
            transform: rotate(45deg);
            transition: all 0.5s ease;
        }
      }

      p{
        text-align: center;
        color: $violet;
      }
      >div{
        border-top: solid 1px $violet;
        margin-top: 20px;
        p{
          color: $white;
          font-family: 'BlinkerExtraLight';
        }
      }
    }
  }
}

.meet__carlos{
  width: col(18);
  background-color: $purple;
  position: relative;
  z-index: 1;
  padding: col(1);
  .top{
    display: flex;
    width: col(9);
    margin: auto;
    justify-content: space-between;
    margin-bottom: 50px;
    @media screen and (max-width: $md) {
      flex-direction: column;
      width: col(18);
    }
    .left{
      width: col(9);
      @media screen and (max-width: $md) {
        width: col(18);
      }
    }
    .right{
      width: col(9);
      position: relative;
      @media screen and (max-width: $md) {
        width: col(18);
      }
      img{
        position: absolute;
        right: -100px;
        top: 40%;
        width: 50px;
        &.logo{
          @media screen and (max-width: $md) {
            display: none;
          }
        }
        &.cascovioleta{
          display: none;

          position: relative;
          margin: auto;
          right: initial;
          top: initial;
          @media screen and (max-width: $md) {
            display: block;
          }
        }
      }
    }
  }
  h1{
    margin: 0px 0 100px 0;
    color: $black;
    text-align: center;
  }

  .bottom{
    margin: 0;
    padding: 0 25px;
    display: block;
    grid-template-columns: repeat(8,1fr);
    h2{
      text-align: center;
      margin-bottom: 50px;
    }
    img{
      width: 30%;
      display: block;
      margin: 0 auto 50px auto;
      @media screen and (max-width: $lg) {
        width: 100%;
      }
    }
    @media screen and (max-width: $lg) {
      grid-template-columns: repeat(4,1fr);
      gap: 30px;
    }

  }
}

.section11{
  position: relative;
  width: col(18);
  height: 100vh;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  .titlecont{
    margin:100px auto 0 auto;
    @media screen and (max-width: $md) {
      margin:100px auto 100px auto;
    }
    h2{
      text-align: center;
      margin-right: 5px;
    }
    span{
      font-size: 20px;
    }
  }
  .lower__text{
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: 2;
  }
  .mountain{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .sol{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 750px;
    @media screen and (max-width: $md) {
      width: 450px;
      top: 0;
      bottom: initial;
    }
  }
  ul{
    position: absolute;
    left: 0;
    right: 0;
    margin: 150px auto 0 auto;
    padding: 0;
    width: 100%;
    z-index: 2;
    @media screen and (max-width: $lg) {
      width: col(16)
    }
    li{
      img{
        width: 160px;
        margin: auto;
        @media screen and (max-width: $md) {
          width: 130px;
        }
      }
    }
  }
}

.section12{
  position: relative;
  width: col(18);
  padding: col(1);
  height: 100vh;
  background-color: $purple;
  @media screen and (max-width: $max) {
    height: auto;
  }
  @media screen and (max-width: $sm) {
    padding: col(1) 0 col(1) 0;
  }
  h1{
   margin-bottom: 50px;
    text-align: center;
    @media screen and (max-width: $lap) {
      margin-bottom: 20px;
    }
  }
  .cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $lg) {
      flex-direction: column;
    }
  }
  .left{
    position: relative;
    >div{
      position: absolute;
      left: 50px;
      top: 30px;
    }
    img{
      width: 400px;
    }
  }
  .right{
    width: 900px;
    height: 600px;

    margin: auto;
    position: relative;
    //background-color: tan;
    @media screen and (max-width: $lg) {
      width: 700px;
      height: 700px;
    }
    @media screen and (max-width: $md) {
      width: 350px;
      height: 450px;
    }
    .svgcont{
      width: 90px;
      polyline, line,path{
        stroke-dasharray: 3;
        animation: dash 5s linear infinite;
      }
      &.one{
        position: absolute;
        left: 490px;
        top: 90px;
        @media screen and (max-width: $lg) {
          left: 280px;
          top: 160px;
        }
        @media screen and (max-width: $md) {
          left: 150px;
          top: 70px;
        }
      }
      &.two{
        position: absolute;
        right: 160px;
        top: 130px;
        @media screen and (max-width: $lg) {
          right: 180px;
          top: 180px;
        }
        @media screen and (max-width: $md) {
          right: 50px;
          top: 70px;
          width: 70px;
        }
      }
      &.three{
        position: absolute;
        bottom: 0;
        width: 50px;
        left: 280px;
        bottom: 150px;
        @media screen and (max-width: $lg) {
          left: 210px;
        bottom: 200px;
        }
        @media screen and (max-width: $md) {
          left: 170px;
          bottom: 80px;
        }
      }
      &.four{
        position: absolute;
        width: 70px;
        left: 190px;
        bottom: 300px;
        @media screen and (max-width: $lg) {
          left: 90px;
          bottom: 400px;
        }
        @media screen and (max-width: $md) {
          left: 50px;
          bottom: 250px;
        }
      }
      &.five{
        position: absolute;
        bottom: 0;
        width: 50px;
        right: 370px;
        bottom: 110px;
        @media screen and (max-width: $lg) {
          right: 270px;
          bottom: 170px;
        }
        @media screen and (max-width: $md) {
          right: 220px;
          bottom: 110px;
        }
      }
      &.six{
        position: absolute;
        bottom: 0;
        width: 60px;
        right: 180px;
        bottom: 230px;
        @media screen and (max-width: $lg) {
          right: 130px;
          bottom: 250px;
        }
        @media screen and (max-width: $md) {
          right: 60px;
          bottom: 167px;
        }
      }
    }
    .shopify{
      position: absolute;
      left: 40%;
      top: 0;
      @media screen and (max-width: $lg) {
        left: 20%;
        top: 10%;
      }
      @media screen and (max-width: $md) {
        left: 20%;
        top: 0%;
      }
    }
    img{
      @media screen and (max-width: $md) {
        width: 120px;
      }
    }
    .smart{
      position: absolute;
      right: 20%;
      top: 7%;
      @media screen and (max-width: $lg) {
        right: 30%;
        top: 13%;
      }
      @media screen and (max-width: $md) {
        right: 0%;
        top: 8%;
      }
    }
    .mkt{
      position: absolute;
      left: 5%;
      bottom: 40%;
      @media screen and (max-width: $lg) {
        left: 0;
        bottom: 50%;
      }
      @media screen and (max-width: $md) {

      }
    }
    .webpage{
      position: absolute;
      right: 5%;
      bottom: 20%;
      @media screen and (max-width: $lg) {
        right: 0;
        bottom: 20%;
      }
      @media screen and (max-width: $md) {
        bottom: 70px;
      }
    }
    .discord{
      position: absolute;
      right: 40%;
      bottom: 0;
      @media screen and (max-width: $lg) {
        right: 40%;
        bottom: 50px;
      }
      @media screen and (max-width: $md) {
        right: 30%;
        bottom: 0;
      }
    }
    .avatar{
      position: absolute;
      left: 20%;
      bottom: 5%;
      @media screen and (max-width: $lg) {
        left: 10%;
        bottom: 11%;
      }
      @media screen and (max-width: $md) {
        left: 0;
        bottom: 0;
      }
    }
    .base{
      width: 500px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      @media screen and (max-width: $md) {
        width: 200px;
      }
    }
  }
}

/* 3D Slideshow */

#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 600px;
  width: 70%;
  box-sizing: border-box;
  @media screen and (max-width: $md) {
    display: none;
  }
}

.entire-content {
  margin: auto;
  width: 200px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
  @media screen and (max-width: $lap) {
    //width: 130px;
  }
  @media screen and (max-width: $sm) {
    width: 200px;
    padding-top: 0;
  }
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}


.content-carrousel,.content-carrousel4{
  width: 100%;
  position: absolute;
  float: right;
  transform-style: preserve-3d;
  transition: all 1s ease;
  //animation: rotar 2s infinite linear;
  @media screen and (max-width: $sm) {
    //animation: rotar 12s infinite linear;
  }
  img{
    image-rendering: auto;
    transition: all 300ms;
    //width: 100%;
    //height: 100%;
    &:hover{
      transform: scale(1.1);
      transition: all 300ms;
    }
  }
  figure{
    //width: 90%;
    position: absolute;
  }
}
@keyframes rotar {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}
.content-carrousel{
  figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
  }
  figure:nth-child(2) {
    transform: rotateY(120deg) translateZ(300px);
  }
  figure:nth-child(3) {
    transform: rotateY(240deg) translateZ(300px);
  }
}

.content-carrousel4{
    figure:nth-child(1) {
      transform: rotateY(0deg) translateZ(300px);
    }
    figure:nth-child(2) {
      transform: rotateY(90deg) translateZ(300px);
    }
    figure:nth-child(3) {
      transform: rotateY(180deg) translateZ(300px);
    }
    figure:nth-child(4) {
      transform: rotateY(270deg) translateZ(300px);
    }
}

.webgl-slider{
  display: none !important;
  padding: 0;
  margin: 0;
  @media screen and (max-width: $md) {
    display: block !important;
  }
  @media screen and (max-width: $sm) {
    width: 80%;
    margin: auto;
  }
  .slick-active{
    opacity: .5;
  }
  .slick-center{
    opacity: 1;
   img{
    width: 160px;
  }
 }
  img{
    width: 130px;
    display: block;
    margin: auto;
  }
  ul.slick-dots{
    width: 100%;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;

    list-style: none;
    li{
      cursor: pointer;
      button{
        font-size: 0;
        border-radius: 50%;
        background-color: $violet;
        border: none;
        width: 15px;
        height:15px;
      }
    }
  }
}

@keyframes title {
  from {
    opacity: 0;
    transform: translateY(0);
  } to {
    opacity: 1;
    transform: translateY(100%);
  }
}