@font-face {
  font-family: 'BlinkerBold';
  src: url("../fonts/BlinkerBold.ttf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerExtraLight';
  src: url("../fonts/BlinkerExtraLight.ttf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerSemiBold';
  src: url("../fonts/BlinkerSemiBold.ttf");
  /* IE9 Compat Modes */
}

h1 {
  font-family: "BlinkerBold";
  font-size: 3.75rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 1.5rem;
  }
}

span {
  color: #d500d5 !important;
}

h2 {
  font-family: BlinkerSemiBold;
  font-size: 2.25rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  h2 {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: 850px) {
  h2 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: museo700;
  font-size: 2.5rem;
  color: initial;
  margin: 0;
  font-weight: normal;
}

@media screen and (max-width: 850px) {
  h3 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-family: "BlinkerExtraLight";
  font-size: 1.25rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  p {
    font-size: 1rem;
  }
}

p.especial {
  font-family: 'BlinkerExtraLight';
}

.button {
  background-color: #d500d5;
  font-family: "BlinkerSemiBold";
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #ffffff;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
}

.button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button2 {
  background: #d500d5;
  font-family: "BlinkerSemiBold";
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  width: 300px;
  padding: 20px;
  border: 1px solid #d500d5;
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
}

.button2:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #ac00ac;
}

.button2:active {
  background: #560056;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text {
  overflow: hidden;
}

.underline {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.underline .underlineChild {
  display: block;
  width: 0;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

@media screen and (max-width: 850px) {
  .underline .underlineChild {
    height: 8px;
    bottom: 2px;
  }
}

body {
  margin: 0;
  position: relative;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 0 5.55556%;
}

.nav.scrolldown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav.contactnav {
  background-color: #ffffff;
}

.nav.contactnav .inner .left .logo {
  width: 150px;
}

.nav.contactnav .inner .left .logo img {
  width: 150px;
}

.nav.contactnav .inner .right p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #1d1d1b;
}

.nav.contactnav .inner .right p:after {
  background: #1d1d1b;
}

.nav.contactnav .inner .right p:hover:before {
  background: #1d1d1b;
}

.nav.contactnav .inner .right p:hover:after {
  background: transparent;
}

@media screen and (max-width: 850px) {
  .nav {
    display: none;
  }
}

.nav .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  height: 100px;
}

.nav .inner .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .inner .right .logo {
  width: 50px;
  margin-right: 100px;
}

.nav .inner .right p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 25px;
  color: #ffffff;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .nav .inner .right p {
    margin: 0 10px;
  }
}

.nav .inner .right p:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background 0.5s ease;
  transition: width 0s ease, background 0.5s ease;
}

.nav .inner .right p:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #ffffff;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.nav .inner .right p:hover:before {
  width: 100%;
  background: #ffffff;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.nav .inner .right p:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.nav.activo {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: transparent;
}

.nav.activo .inner .left .logo svg .st0 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #010628;
}

.nav.activo .inner .right p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ffffff;
}

.nav.activo .inner .right p:after {
  background: #ffffff;
}

.nav.activo .inner .right p:hover:before {
  background: #ffffff;
}

.nav.activo .inner .right p:hover:after {
  background: transparent;
}

.responsivemenu {
  display: none;
}

@media screen and (max-width: 850px) {
  .responsivemenu {
    display: block;
  }
}

.burguer {
  display: none;
  -webkit-box-shadow: -1px 1px 20px -9px rgba(0, 0, 0, 0.69);
          box-shadow: -1px 1px 20px -9px rgba(0, 0, 0, 0.69);
  position: fixed;
  right: 10%;
  top: 5%;
  z-index: 99999;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 850px) {
  .burguer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burguer .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 2rem;
  height: 2rem;
}

.burguer .cont > div {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 30px;
  height: 2px;
  background-color: #010628;
  -webkit-transform-origin: 1px center;
          transform-origin: 1px center;
}

.burguer .cont > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burguer .cont > div:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.burguer .cont > div:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burguer.active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burguer.active .cont > div:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burguer.active .cont > div:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.burguer.active .cont > div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: 99998;
  width: 50vw;
  height: 100vh;
  z-index: 99998;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #010628;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu.active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.menu.active > div p {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.menu > div {
  text-align: center;
}

.menu > div p {
  margin-bottom: 30px;
  opacity: 0;
}

.logoanim {
  width: 300px;
  position: absolute;
  right: 16.66667%;
  top: 0;
}

@media screen and (max-width: 850px) {
  .logoanim {
    position: relative;
    right: initial;
    margin: auto;
  }
}

.sectiontest {
  width: 100%;
  padding: 5.55556%;
  height: 100vh;
  background-color: #010628;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  z-index: 1;
  position: relative;
  gap: 50px;
}

@media screen and (max-width: 850px) {
  .sectiontest {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
    gap: 0;
  }
}

.sectiontest .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectiontest .texto > div {
  width: 10px;
  height: 3px;
  background-color: #d500d5;
}

.sectiontest .topleft {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft {
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  .sectiontest .topleft {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft {
    -ms-grid-row: 3;
    grid-row: 3;
    margin: 25px 0;
  }
}

.sectiontest .topleft h2 {
  font-family: BlinkerSemiBold;
  font-size: 4.05rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  text-transform: initial;
  max-width: 550px;
}

@media screen and (max-width: 1400px) {
  .sectiontest .topleft h2 {
    font-size: 3.375rem;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft h2 {
    font-size: 3.15rem;
  }
}

@media screen and (max-width: 580px) {
  .sectiontest .topleft h2 {
    font-size: 2.7rem;
  }
}

.sectiontest .topleft h2 span {
  color: #d500d5;
}

.sectiontest .topleft .button2 {
  margin: 15px 0 15px 0;
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft .button2 {
    margin: 15px auto 15px auto;
  }
}

.sectiontest .topright {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  .sectiontest .topright {
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1400px) {
  .sectiontest .topright .avatares {
    width: 450px;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .topright .avatares {
    width: 400px;
  }
}

.sectiontest .bottomleft {
  background-color: #d500d5;
  width: 400px;
  position: relative;
}

@media screen and (max-width: 850px) {
  .sectiontest .bottomleft {
    width: 100%;
  }
}

.sectiontest .bottomleft:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 50px solid #010628;
  border-left: 50px solid #d500d5;
  width: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sectiontest .bottomleft .cont {
  background-color: #010628;
  width: 99%;
  margin: 6px auto 0 auto;
  padding: 25px;
  text-align: center;
}

.sectiontest .bottomleft .cont p {
  font-family: BlinkerSemiBold;
}

.sectiontest .bottomleft .cont .austin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectiontest .bottomleft .cont .austin .pin {
  width: 20px;
  margin-right: 15px;
}

.sectiontest .bottomleft .companies {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 15px auto 0 auto;
}

.sectiontest .bottomleft .companies img {
  width: 100px;
}

@media screen and (max-width: 580px) {
  .sectiontest .bottomleft .companies img {
    display: block;
    margin: auto;
  }
}

.sectiontest .bottomleft .companies .nvidia {
  width: 80px;
}

.sectiontest .bottomleft .companies .apple {
  width: 20px;
}

#lottie {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
}

.create {
  position: relative;
  background-color: #010628;
  z-index: 1;
  height: 100vh;
  padding: 5.55556% 5.55556% 150px 5.55556%;
}

@media screen and (max-width: 1200px) {
  .create {
    height: auto;
  }
}

.create .title__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33333%;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .create .title__cont {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.create .title__cont span {
  width: 20px;
  height: 8px;
  margin: 0 15px;
  background-color: #d500d5;
}

.create .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1400px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 1600px) {
  .create .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1400px) {
  .create .container {
    width: 1100px;
  }
}

@media screen and (max-width: 1200px) {
  .create .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.create .container #lottie1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
}

@media screen and (max-width: 1200px) {
  .create .container #lottie1 {
    position: relative;
    width: 100%;
  }
}

.create .container .svgcont {
  width: 550px;
  position: absolute;
  bottom: 280px;
  left: 450px;
}

@media screen and (max-width: 1600px) {
  .create .container .svgcont {
    bottom: 270px;
    left: 460px;
    width: 340px;
  }
}

@media screen and (max-width: 1400px) {
  .create .container .svgcont {
    bottom: 300px;
    left: 460px;
    width: 240px;
  }
}

@media screen and (max-width: 1200px) {
  .create .container .svgcont {
    left: 0px;
  }
}

.create .container .svgcont polyline, .create .container .svgcont line, .create .container .svgcont path {
  stroke-dasharray: 3;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

@media screen and (max-width: 1200px) {
  .create .left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.create .left .inner__cont {
  border: none;
  position: relative;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create .left .inner__cont .barra {
  width: 15px;
  background-color: #d500d5;
  margin-right: 5px;
}

.create .left .inner__cont .purple__bordercont {
  border: solid 1px #d500d5;
  padding: 15px;
  position: relative;
}

.create .left .inner__cont .purple__bordercont p {
  font-family: "BlinkerExtraLight";
  font-size: 1.375rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  max-width: 400px;
  font-family: BlinkerSemiBold;
  line-height: 1.5;
  text-transform: initial;
}

@media screen and (max-width: 850px) {
  .create .left .inner__cont .purple__bordercont p {
    font-size: 1.1rem;
  }
}

.create .left .inner__cont .purple__bordercont img {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 30px;
}

.create .left .button {
  margin: 25px auto 0 auto;
  padding: 5px;
}

.create .right {
  position: relative;
  width: 400px;
  height: 620px;
  background-image: url(../img/create/purple_border.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1200px) {
  .create .right {
    height: 650px;
  }
}

@media screen and (max-width: 580px) {
  .create .right {
    height: 650px;
    width: 100%;
  }
}

.create .right .cont {
  margin-top: 20px;
  margin-left: 10px;
  padding: 25px;
}

@media screen and (max-width: 1200px) {
  .create .right .cont {
    position: absolute;
    left: 40px;
    top: -10px;
    padding: 25px;
  }
}

.create .right .cont > div {
  margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  .create .right .cont > div {
    margin-bottom: 10px;
  }
}

.create .right .cont > div p {
  font-family: "BlinkerExtraLight";
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  line-height: 1.5;
}

@media screen and (max-width: 850px) {
  .create .right .cont > div p {
    font-size: 0.8rem;
  }
}

.create .right .cont > div p.title {
  color: #d500d5;
  font-weight: bold;
}

.create .right img {
  width: 500px;
  display: none;
}

.create .list {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d500d5;
  padding: 10px 5.55556%;
}

.create .list h2 {
  font-family: BlinkerSemiBold;
  font-size: 1.8rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-transform: initial;
}

@media screen and (max-width: 1400px) {
  .create .list h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .create .list h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 580px) {
  .create .list h2 {
    font-size: 1.2rem;
  }
}

.section2 {
  width: 100%;
  padding: 50px;
  height: 100vh;
  background-color: #010628;
}

@media screen and (max-width: 1400px) {
  .section2 {
    height: auto;
  }
}

@media screen and (max-width: 850px) {
  .section2 {
    padding: 5.55556%;
  }
}

.section2 h1 {
  text-align: center;
}

.section2 .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1400px) {
  .section2 .cont {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .section2 .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section2 .left {
  width: 600px;
  height: 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 850px) {
  .section2 .left {
    width: 450px;
    height: 430px;
  }
}

@media screen and (max-width: 580px) {
  .section2 .left {
    overflow: hidden;
    width: 300px;
    height: 330px;
  }
}

.section2 .left .svgcont {
  position: absolute;
}

.section2 .left .svgcont.dashedline svg {
  stroke-dasharray: 3;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

.section2 .left .svgcont.one {
  width: 220px;
  left: -20px;
  top: 180px;
}

@media screen and (max-width: 850px) {
  .section2 .left .svgcont.one {
    width: 150px;
    left: -60px;
    top: 150px;
  }
}

.section2 .left .svgcont.two {
  width: 220px;
  right: -100px;
  top: 180px;
}

@media screen and (max-width: 850px) {
  .section2 .left .svgcont.two {
    width: 150px;
    right: -60px;
    top: 180px;
  }
}

.section2 .left .svgcont.three {
  width: 500px;
  bottom: 30px;
  left: 120px;
}

@media screen and (max-width: 850px) {
  .section2 .left .svgcont.three {
    width: 340px;
    bottom: -10px;
    left: 70px;
  }
}

.section2 .left .nftcont {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: absolute;
}

.section2 .left .nftcont.one {
  left: 80px;
  top: 0;
}

@media screen and (max-width: 850px) {
  .section2 .left .nftcont.one {
    left: 0px;
  }
}

.section2 .left .nftcont.two {
  right: 0;
  top: 70px;
}

.section2 .left .nftcont img {
  width: 280px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .section2 .left .nftcont img {
    width: 240px;
  }
}

.section2 .left .nftcont p {
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-family: "BlinkerExtraLight";
  font-size: 1.625rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

@media screen and (max-width: 850px) {
  .section2 .left .nftcont p {
    font-size: 1.3rem;
  }
}

.section2 .right {
  position: relative;
}

.section2 .right .inner__cont {
  position: absolute;
  left: 0px;
  top: 40px;
  padding: 25px;
}

@media screen and (max-width: 850px) {
  .section2 .right .inner__cont {
    padding: 5px;
    left: 20px;
    top: 30px;
  }
}

.section2 .right .inner__cont p {
  font-family: "BlinkerExtraLight";
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  line-height: 1.2 !important;
  text-align: justify;
}

@media screen and (max-width: 850px) {
  .section2 .right .inner__cont p {
    font-size: 0.8rem;
  }
}

.section2 .right .inner__cont p:first-of-type {
  margin-bottom: 15px;
}

.section2 .right img {
  width: 400px;
}

.section1, .section2, .section3, .section4, .section6, .section7, .section9, .section10 {
  position: relative;
  z-index: 1;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
}

.coloredbg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#03011a), color-stop(50%, rgba(3, 1, 26, 0.2)), to(#03011a)), radial-gradient(circle farthest-corner at 100% 0, #33ffc2, #334aff 70%, #ff7333);
  background-image: linear-gradient(180deg, #03011a, rgba(3, 1, 26, 0.2) 50%, #03011a), radial-gradient(circle farthest-corner at 100% 0, #33ffc2, #334aff 70%, #ff7333);
}

.choose__nftcases {
  width: 100%;
  background-color: #010628;
  position: relative;
  z-index: 1;
  padding: 5.55556%;
}

.choose__nftcases h1 {
  text-align: center;
  margin-bottom: 10px;
}

.choose__nftcases .circle {
  position: absolute;
  left: -30%;
  top: 0;
  width: 1000px;
}

.choose__nftcases h2 {
  max-width: 650px;
  text-transform: capitalize;
}

.choose__nftcases #lottie2 {
  width: 400px;
  position: absolute;
  left: 250px;
  bottom: 300px;
}

@media screen and (max-width: 1400px) {
  .choose__nftcases #lottie2 {
    left: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .choose__nftcases #lottie2 {
    bottom: initial;
    left: 10%;
    top: 0;
  }
}

@media screen and (max-width: 850px) {
  .choose__nftcases #lottie2 {
    width: 300px;
    position: relative;
    bottom: initial;
    left: 0;
    top: 0;
    margin: auto;
  }
}

.choose__nftcases ul {
  width: 27.77778%;
  list-style: none;
  margin: auto;
  position: relative;
  padding-top: 120px;
}

@media screen and (max-width: 1200px) {
  .choose__nftcases ul {
    width: 100%;
    margin-top: 250px;
  }
}

@media screen and (max-width: 850px) {
  .choose__nftcases ul {
    margin-top: 0px;
  }
}

.choose__nftcases ul .first {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__nftcases ul .first .barra {
  width: 15px;
  background-color: #d500d5;
  margin-right: 5px;
}

.choose__nftcases ul .first .cont {
  border: solid 1px #d500d5;
  width: 700px;
  padding: 15px;
}

@media screen and (max-width: 1200px) {
  .choose__nftcases ul .first .cont {
    width: 100%;
  }
}

.choose__nftcases ul .first img {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 30px;
}

.choose__nftcases ul .second, .choose__nftcases ul .third {
  border: none;
  position: relative;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__nftcases ul .second .barra, .choose__nftcases ul .third .barra {
  width: 15px;
  background-color: #d500d5;
  margin-left: 5px;
}

.choose__nftcases ul .second .cont, .choose__nftcases ul .third .cont {
  border: solid 1px #d500d5;
  width: 700px;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .choose__nftcases ul .second .cont, .choose__nftcases ul .third .cont {
    width: 100%;
  }
}

.choose__nftcases ul .second .cont h2, .choose__nftcases ul .third .cont h2 {
  font-family: BlinkerSemiBold;
  font-size: 2.7rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  text-transform: capitalize;
}

@media screen and (max-width: 1400px) {
  .choose__nftcases ul .second .cont h2, .choose__nftcases ul .third .cont h2 {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 850px) {
  .choose__nftcases ul .second .cont h2, .choose__nftcases ul .third .cont h2 {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 580px) {
  .choose__nftcases ul .second .cont h2, .choose__nftcases ul .third .cont h2 {
    font-size: 1.8rem;
  }
}

.choose__nftcases ul .second img, .choose__nftcases ul .third img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 30px;
  -webkit-transform: rotate(170deg);
          transform: rotate(170deg);
}

.choose__nftcases ul .second {
  width: 500px;
}

@media screen and (max-width: 1200px) {
  .choose__nftcases ul .second {
    width: 100%;
  }
}

.choose__nftcases ul .third {
  margin-left: 50px;
  width: 700px;
}

@media screen and (max-width: 1200px) {
  .choose__nftcases ul .third {
    width: 100%;
    margin-left: 0px;
  }
}

.choose__nftcases ul li {
  margin: 10px 0;
  border: solid 1px #d500d5;
}

.choose__nftcases ul li p {
  text-align: center;
}

.tell__story {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 5.55556%;
}

@media screen and (max-width: 1200px) {
  .tell__story {
    overflow: hidden;
    height: auto;
  }
}

.tell__story .titlecont {
  margin: auto;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .tell__story .titlecont {
    margin: 0px auto 50px auto;
  }
}

.tell__story .titlecont h1 {
  text-align: center;
  margin-right: 5px;
}

.tell__story .container .div__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1400px;
  height: 600px;
  position: relative;
  z-index: 2;
  margin: auto;
}

@media screen and (max-width: 1600px) {
  .tell__story .container .div__cont {
    width: 1200px;
  }
}

@media screen and (max-width: 1400px) {
  .tell__story .container .div__cont {
    width: 1100px;
  }
}

@media screen and (max-width: 1200px) {
  .tell__story .container .div__cont {
    width: 500px;
    height: 900px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 580px) {
  .tell__story .container .div__cont {
    width: 100%;
  }
}

.tell__story .container .div__cont .svgcont {
  position: absolute;
}

.tell__story .container .div__cont .svgcont polyline, .tell__story .container .div__cont .svgcont line, .tell__story .container .div__cont .svgcont path {
  stroke-dasharray: 3;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

.tell__story .container .div__cont .svgcont.one {
  top: 20px;
  left: 640px;
  width: 400px;
}

@media screen and (max-width: 1600px) {
  .tell__story .container .div__cont .svgcont.one {
    top: 25px;
    left: 585px;
    width: 360px;
  }
}

@media screen and (max-width: 1200px) {
  .tell__story .container .div__cont .svgcont.one {
    top: 47%;
    left: 50%;
    width: 260px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.tell__story .container .div__cont .svgcont.two {
  top: 220px;
  left: 565px;
  width: 410px;
}

@media screen and (max-width: 1600px) {
  .tell__story .container .div__cont .svgcont.two {
    top: 220px;
    left: 525px;
    width: 300px;
  }
}

@media screen and (max-width: 1400px) {
  .tell__story .container .div__cont .svgcont.two {
    top: 280px;
    left: 520px;
    width: 210px;
  }
}

@media screen and (max-width: 1200px) {
  .tell__story .container .div__cont .svgcont.two {
    top: 340px;
    left: 150px;
    width: 190px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.tell__story .container .div__cont .svgcont.three {
  bottom: 30px;
  left: 600px;
  width: 390px;
}

@media screen and (max-width: 1600px) {
  .tell__story .container .div__cont .svgcont.three {
    bottom: 30px;
    left: 535px;
    width: 390px;
  }
}

@media screen and (max-width: 1400px) {
  .tell__story .container .div__cont .svgcont.three {
    bottom: 30px;
    left: 535px;
    width: 390px;
  }
}

@media screen and (max-width: 1200px) {
  .tell__story .container .div__cont .svgcont.three {
    left: -410px;
    top: -10px;
    width: 280px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.tell__story .container .div__cont .left {
  position: relative;
}

.tell__story .container .div__cont .left .text__cont {
  position: absolute;
  left: 30px;
  top: 0;
  padding: 25px;
}

.tell__story .container .div__cont .left img {
  width: 500px;
}

@media screen and (max-width: 850px) {
  .tell__story .container .div__cont .left img {
    width: 440px;
  }
}

.tell__story .container .div__cont .right {
  position: relative;
}

.tell__story .container .div__cont .right .element {
  position: absolute;
  left: 30px;
  top: 50px;
  font-family: "BlinkerExtraLight";
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

@media screen and (max-width: 850px) {
  .tell__story .container .div__cont .right .element {
    font-size: 1rem;
  }
}

.tell__story .container .div__cont .right .element span {
  color: #ffffff !important;
}

.tell__story .container .div__cont .right .window {
  width: 350px;
}

@media screen and (max-width: 1200px) {
  .tell__story .container .div__cont .right .window {
    width: 300px;
  }
}

.tell__story .container .fondo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.tell__story .button {
  bottom: -20px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .tell__story .button {
    bottom: 10px;
  }
}

.section6 {
  background-color: #010628;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.55556%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .section6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section6 .secondtitle {
  font-family: "BlinkerBold";
  font-size: 3rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 1400px) {
  .section6 .secondtitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .section6 .secondtitle {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 580px) {
  .section6 .secondtitle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1400px) {
  .section6 .secondtitle {
    font-family: "BlinkerBold";
    font-size: 4.5rem;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1400px) and (max-width: 1400px) {
  .section6 .secondtitle {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 1400px) and (max-width: 850px) {
  .section6 .secondtitle {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 1400px) and (max-width: 580px) {
  .section6 .secondtitle {
    font-size: 1.8rem;
  }
}

.section6 .buttcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section6 .buttcont img {
  width: 50px;
}

@media screen and (max-width: 1200px) {
  .section6 .buttcont img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section6 .choose-cont {
  padding: 0;
  width: 50%;
}

.section6 .choose-cont li {
  position: relative;
}

.section6 .choose-cont li h1 {
  text-align: center;
  left: 0;
  right: 0;
  top: 60%;
  z-index: 1;
  margin: auto;
}

.section6 .choose-cont .slide-img {
  width: 400px;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .section6 .choose-cont .slide-img {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .section6 .choose-cont {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .section6 #slideshow {
    display: none;
  }
}

.section6 .responsive-slider {
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (max-width: 1200px) {
  .section6 .responsive-slider {
    display: block;
  }
}

.section6 .responsive-slider .slider-cont {
  padding: 0;
}

.section6 .responsive-slider .slider-cont li img {
  width: 250px;
  display: block;
  margin: auto;
}

.section6 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto 0 auto;
  width: 100px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section6 .slick-dots li {
  cursor: pointer;
}

.section6 .slick-dots button {
  cursor: pointer;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gray;
}

.section6 .button {
  margin: 0;
}

.section6 .right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .section6 .right {
    width: 100%;
  }
}

.section6 .right p {
  font-family: 'BlinkerExtraLight';
  margin: 15px 0;
}

.choose__package {
  background-color: #010628;
  width: 100%;
  padding: 0 5.55556% 5.55556% 5.55556%;
  position: relative;
}

.choose__package h1, .choose__package h2 {
  text-align: center;
}

.choose__package h2 {
  margin: 100px 0 50px 0;
}

.choose__package ul {
  padding: 0;
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1200px) {
  .choose__package ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.choose__package ul li {
  width: 300px;
}

@media screen and (max-width: 1200px) {
  .choose__package ul li {
    margin-bottom: 50px;
  }
}

.choose__package ul li > img {
  display: block;
  margin: auto;
  width: 120px;
}

.choose__package ul li .top {
  margin-top: 15px;
  background: #00d4ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#00d4ff), color-stop(41%, #7a8afc), to(#d500d5));
  background: linear-gradient(0deg, #00d4ff 0%, #7a8afc 41%, #d500d5 100%);
  padding: 15px;
}

.choose__package ul li .top h1 {
  font-family: "BlinkerBold";
  font-size: 3rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 1400px) {
  .choose__package ul li .top h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .choose__package ul li .top h1 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 580px) {
  .choose__package ul li .top h1 {
    font-size: 1.2rem;
  }
}

.choose__package ul li .top p.texto {
  font-family: 'BlinkerSemiBold';
  line-height: 1.5;
}

.choose__package ul li .top .bordered-text {
  border: solid 1px #d500d5;
  margin: 8px 0;
}

.choose__package ul li .top .bordered-text p {
  font-family: "BlinkerExtraLight";
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

@media screen and (max-width: 850px) {
  .choose__package ul li .top .bordered-text p {
    font-size: 0.8rem;
  }
}

.choose__package ul li .bottom {
  margin-top: 5px;
  border: solid 1px #d500d5;
}

.choose__package ul li h1, .choose__package ul li p {
  text-align: center;
}

.section88 {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.section88 .container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section88 .container .titlecont {
  margin: 100px auto 0 auto;
}

@media screen and (max-width: 850px) {
  .section88 .container .titlecont {
    margin: 100px auto 100px auto;
  }
}

.section88 .container .titlecont h2 {
  text-align: center;
  margin-right: 5px;
}

.section88 .container .titlecont span {
  font-size: 20px;
}

.section88 .container .lower__text {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.section88 .container .fondo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section88 .container .button {
  bottom: 15px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.faqs {
  width: 100%;
  padding: 5.55556% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #010628;
}

.faqs .circle {
  position: absolute;
  right: -20%;
  top: 0;
  width: 700px;
  pointer-events: none;
}

.faqs h1 {
  text-align: center;
}

.faqs .logo {
  position: absolute;
  width: 200px;
  left: 10%;
  top: 40%;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .faqs .logo {
    left: 40%;
    bottom: 0;
    top: initial;
    width: 170px;
  }
}

@media screen and (max-width: 850px) {
  .faqs .logo {
    left: 30%;
  }
}

.faqs .faq {
  width: 33.33333%;
  padding: 0;
  margin-top: 100px;
}

@media screen and (max-width: 1400px) {
  .faqs .faq {
    width: 55.55556%;
  }
}

@media screen and (max-width: 1200px) {
  .faqs .faq {
    margin-top: 200px;
    margin-bottom: 130px;
  }
}

@media screen and (max-width: 850px) {
  .faqs .faq {
    width: 83.33333%;
    margin-top: 0px;
  }
}

.faqs .faq li {
  border: 1px solid #d500d5;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  max-height: 70px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .faqs .faq li {
    max-height: 80px;
  }
}

.faqs .faq li::after {
  content: "+";
  display: block;
  position: absolute;
  right: 20px;
  top: 23px;
  font-size: 20px;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.faqs .faq li.active {
  max-height: 300px;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.faqs .faq li.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.faqs .faq li p {
  text-align: center;
  color: #d500d5;
}

.faqs .faq li > div {
  border-top: solid 1px #d500d5;
  margin-top: 20px;
}

.faqs .faq li > div p {
  color: #ffffff;
  font-family: 'BlinkerExtraLight';
}

.meet__carlos {
  width: 100%;
  background-color: #010628;
  position: relative;
  z-index: 1;
  padding: 5.55556%;
}

.meet__carlos .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

@media screen and (max-width: 850px) {
  .meet__carlos .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.meet__carlos .top .left {
  width: 50%;
}

@media screen and (max-width: 850px) {
  .meet__carlos .top .left {
    width: 100%;
  }
}

.meet__carlos .top .right {
  width: 50%;
  position: relative;
}

@media screen and (max-width: 850px) {
  .meet__carlos .top .right {
    width: 100%;
  }
}

.meet__carlos .top .right img {
  position: absolute;
  right: -100px;
  top: 40%;
  width: 50px;
}

@media screen and (max-width: 850px) {
  .meet__carlos .top .right img.logo {
    display: none;
  }
}

.meet__carlos .top .right img.cascovioleta {
  display: none;
  position: relative;
  margin: auto;
  right: initial;
  top: initial;
}

@media screen and (max-width: 850px) {
  .meet__carlos .top .right img.cascovioleta {
    display: block;
  }
}

.meet__carlos h1 {
  margin: 0px 0 100px 0;
  color: #000000;
  text-align: center;
}

.meet__carlos .bottom {
  margin: 0;
  padding: 0 25px;
  display: block;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.meet__carlos .bottom h2 {
  text-align: center;
  margin-bottom: 50px;
}

.meet__carlos .bottom img {
  width: 30%;
  display: block;
  margin: 0 auto 50px auto;
}

@media screen and (max-width: 1200px) {
  .meet__carlos .bottom img {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .meet__carlos .bottom {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.section11 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.section11 .titlecont {
  margin: 100px auto 0 auto;
}

@media screen and (max-width: 850px) {
  .section11 .titlecont {
    margin: 100px auto 100px auto;
  }
}

.section11 .titlecont h2 {
  text-align: center;
  margin-right: 5px;
}

.section11 .titlecont span {
  font-size: 20px;
}

.section11 .lower__text {
  position: absolute;
  right: 10%;
  bottom: 10%;
  z-index: 2;
}

.section11 .mountain {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.section11 .sol {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 750px;
}

@media screen and (max-width: 850px) {
  .section11 .sol {
    width: 450px;
    top: 0;
    bottom: initial;
  }
}

.section11 ul {
  position: absolute;
  left: 0;
  right: 0;
  margin: 150px auto 0 auto;
  padding: 0;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .section11 ul {
    width: 88.88889%;
  }
}

.section11 ul li img {
  width: 160px;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .section11 ul li img {
    width: 130px;
  }
}

.section12 {
  position: relative;
  width: 100%;
  padding: 5.55556%;
  height: 100vh;
  background-color: #010628;
}

@media screen and (max-width: 1600px) {
  .section12 {
    height: auto;
  }
}

@media screen and (max-width: 580px) {
  .section12 {
    padding: 5.55556% 0 5.55556% 0;
  }
}

.section12 h1 {
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .section12 h1 {
    margin-bottom: 20px;
  }
}

.section12 .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .section12 .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section12 .sbgcont {
  width: 500px;
  position: absolute;
  bottom: 130px;
  left: 450px;
}

@media screen and (max-width: 1400px) {
  .section12 .sbgcont {
    bottom: 100px;
    left: 190px;
  }
}

@media screen and (max-width: 1200px) {
  .section12 .sbgcont {
    display: none;
  }
}

.section12 .sbgcont polyline, .section12 .sbgcont line, .section12 .sbgcont path {
  stroke-dasharray: 3;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

.section12 .left {
  position: relative;
}

.section12 .left > div {
  position: absolute;
  left: 50px;
  top: 30px;
}

.section12 .left > div p {
  font-family: "BlinkerExtraLight";
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  line-height: 1.5;
}

@media screen and (max-width: 850px) {
  .section12 .left > div p {
    font-size: 0.8rem;
  }
}

.section12 .left img {
  width: 400px;
}

@media screen and (max-width: 850px) {
  .section12 .left img {
    width: 230px;
  }
}

.section12 .responsive {
  display: none;
}

@media screen and (max-width: 850px) {
  .section12 .responsive {
    display: block;
    margin-top: -50px;
  }
}

.section12 .right {
  width: 900px;
  height: 600px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .section12 .right {
    width: 700px;
    height: 700px;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right {
    display: none;
    width: 350px;
    height: 450px;
  }
}

.section12 .right .svgcont {
  width: 90px;
}

.section12 .right .svgcont polyline, .section12 .right .svgcont line, .section12 .right .svgcont path {
  stroke-dasharray: 3;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

.section12 .right .svgcont.one {
  position: absolute;
  left: 35%;
  top: 24%;
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
}

@media screen and (max-width: 1200px) {
  .section12 .right .svgcont.one {
    left: 190px;
    top: 200px;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .svgcont.one {
    left: 120px;
    top: 130px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.section12 .right .svgcont.two {
  position: absolute;
  right: 160px;
  top: 130px;
}

@media screen and (max-width: 1200px) {
  .section12 .right .svgcont.two {
    right: 180px;
    top: 180px;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .svgcont.two {
    right: 50px;
    top: 70px;
    width: 70px;
  }
}

.section12 .right .svgcont.three {
  position: absolute;
  bottom: 0;
  width: 50px;
  left: 280px;
  bottom: 150px;
}

@media screen and (max-width: 1200px) {
  .section12 .right .svgcont.three {
    left: 210px;
    bottom: 200px;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .svgcont.three {
    left: 170px;
    bottom: 80px;
  }
}

.section12 .right .svgcont.four {
  position: absolute;
  width: 70px;
  left: 190px;
  bottom: 300px;
}

@media screen and (max-width: 1200px) {
  .section12 .right .svgcont.four {
    left: 90px;
    bottom: 400px;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .svgcont.four {
    left: 50px;
    bottom: 250px;
  }
}

.section12 .right .svgcont.five {
  position: absolute;
  bottom: 0;
  width: 50px;
  right: 370px;
  bottom: 110px;
}

@media screen and (max-width: 1200px) {
  .section12 .right .svgcont.five {
    right: 270px;
    bottom: 170px;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .svgcont.five {
    right: 220px;
    bottom: 110px;
  }
}

.section12 .right .svgcont.six {
  position: absolute;
  width: 60px;
  right: 239px;
  bottom: 180px;
}

@media screen and (max-width: 1200px) {
  .section12 .right .svgcont.six {
    right: 130px;
    bottom: 250px;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .svgcont.six {
    right: 60px;
    bottom: 167px;
  }
}

.section12 .right .svgcont.seven {
  position: absolute;
  width: 60px;
  right: 150px;
  bottom: 280px;
}

@media screen and (max-width: 1200px) {
  .section12 .right .svgcont.seven {
    right: 130px;
    bottom: 410px;
    -webkit-transform: rotate(115deg);
            transform: rotate(115deg);
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .svgcont.seven {
    right: 60px;
    bottom: 130px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.section12 .right .shopify {
  position: absolute;
  left: 40%;
  top: 0;
}

@media screen and (max-width: 1200px) {
  .section12 .right .shopify {
    left: 20%;
    top: 10%;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .shopify {
    left: 20%;
    top: 0%;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right img {
    width: 120px;
  }
}

.section12 .right .smart {
  position: absolute;
  right: 20%;
  top: 7%;
}

@media screen and (max-width: 1200px) {
  .section12 .right .smart {
    right: 30%;
    top: 13%;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .smart {
    right: 0%;
    top: 8%;
  }
}

.section12 .right .mkt {
  position: absolute;
  left: 5%;
  bottom: 40%;
}

@media screen and (max-width: 1200px) {
  .section12 .right .mkt {
    left: 0;
    bottom: 50%;
  }
}

.section12 .right .webpage {
  position: absolute;
  right: 13%;
  bottom: 10%;
}

@media screen and (max-width: 1200px) {
  .section12 .right .webpage {
    right: 0;
    bottom: 20%;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .webpage {
    bottom: 120px;
    width: 100px;
    right: -20px;
  }
}

.section12 .right .discord {
  position: absolute;
  right: 0;
  bottom: 35%;
}

@media screen and (max-width: 1200px) {
  .section12 .right .discord {
    right: 0px;
    bottom: 390px;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .discord {
    right: 0;
    bottom: 0;
  }
}

.section12 .right .avatar {
  position: absolute;
  left: 20%;
  bottom: 5%;
}

@media screen and (max-width: 1200px) {
  .section12 .right .avatar {
    left: 10%;
    bottom: 11%;
  }
}

@media screen and (max-width: 850px) {
  .section12 .right .avatar {
    left: 0;
    bottom: 0;
  }
}

.section12 .right .nftpass {
  position: absolute;
  right: 40%;
  bottom: 5%;
}

.section12 .right .base {
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .section12 .right .base {
    width: 200px;
  }
}

/* 3D Slideshow */
#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 600px;
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 850px) {
  #slideshow {
    display: none;
  }
}

.entire-content {
  margin: auto;
  width: 200px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

@media screen and (max-width: 580px) {
  .entire-content {
    width: 200px;
    padding-top: 0;
  }
}

@-webkit-keyframes rotar {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotar {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.content-carrousel, .content-carrousel4 {
  width: 100%;
  position: absolute;
  float: right;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.content-carrousel img, .content-carrousel4 img {
  image-rendering: auto;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.content-carrousel img:hover, .content-carrousel4 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.content-carrousel figure, .content-carrousel4 figure {
  position: absolute;
}

@keyframes rotar {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.content-carrousel figure:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(300px);
          transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  -webkit-transform: rotateY(120deg) translateZ(300px);
          transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  -webkit-transform: rotateY(240deg) translateZ(300px);
          transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel4 figure:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(300px);
          transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel4 figure:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(300px);
          transform: rotateY(90deg) translateZ(300px);
}

.content-carrousel4 figure:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(300px);
          transform: rotateY(180deg) translateZ(300px);
}

.content-carrousel4 figure:nth-child(4) {
  -webkit-transform: rotateY(270deg) translateZ(300px);
          transform: rotateY(270deg) translateZ(300px);
}

.webgl-slider {
  display: none !important;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .webgl-slider {
    display: block !important;
  }
}

@media screen and (max-width: 580px) {
  .webgl-slider {
    width: 80%;
    margin: auto;
  }
}

.webgl-slider .slick-active {
  opacity: .5;
}

.webgl-slider .slick-center {
  opacity: 1;
}

.webgl-slider .slick-center img {
  width: 160px;
}

.webgl-slider img {
  width: 130px;
  display: block;
  margin: auto;
}

.webgl-slider ul.slick-dots {
  width: 100%;
  padding: 0;
  margin: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.webgl-slider ul.slick-dots li {
  cursor: pointer;
}

.webgl-slider ul.slick-dots li button {
  font-size: 0;
  border-radius: 50%;
  background-color: #d500d5;
  border: none;
  width: 15px;
  height: 15px;
}

@-webkit-keyframes title {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes title {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
/*# sourceMappingURL=app.css.map */